  input{  
   background:none;  
   outline:none;  
   border:0px;  
}  
  #huiding{width: 20px;height: 20px;line-height: 20px;
text-align: center;position: fixed;top: 50%;right: 0;
display: none;background-color: #0066CC;opacity: .3;border: 3px;font-size: 12px;color: greenyellow;}

#huiding:hover{opacity:1;width: 30px;height: 30px;line-height: 30px}



  
  /*----------------------------------导航条------------------------------*/

.nav{
	width: 100%;
	height: 70px;
	background-color: #1a1a1a;
}

.nav_main{
	width: 990px;
	margin: auto;
}

.nm_logo{
	float: left;
	margin-top: 7px;	
}

     
.nm_nav{
	float: left;
	margin-left: 10px;
	
	
}
.nm_nav a li{

	margin-left: 40px;
	height: 100%;
	display: inline-block;
	line-height:70px ;	
}

.nm_nav  a{
    color: #999999;
}
.nm_nav a:hover{ color: #fafafa;}

.nm_login{
	float: right;
}

.nm_res{
	display: inline-block;
	width: 120px;
	height: 40px;
	text-align: center;
	margin-top: 15px;
	line-height: 40px;
	color: #fff;
	background-color: #1ab2dc;
	border-radius: 3px;
	
}
.nm_logi{
	display: inline-block;
	margin-right: 30px;
	color: #999999;
}

.al_my{
	display: inline-block;
	width: 120px;
	height: 40px;
	text-align: center;
	margin-top: 15px;
	margin-right: 30px;
	line-height: 40px;
	color: #fff;
	background-color: #1ab2dc;
	border-radius: 3px;
}

.al_out{
	display: inline-block;
	margin-right: 35px;
	color: #999999;
}


/*----------------------创建账号-------------------*/
.cg_box{
	width: 100%;
	padding: 25px 0 85px 0;
	background-color: #ecf0f1;
}
.cg_main{
	width: 940px;
	margin:0 auto;
	background-color: #fff;
	border: 1px solid #cbcfd0;
	border-radius: 3px;
	padding: 30px 0 75px 50px;
	text-align: center;
}
.cg_main h3{
	color: #1ba2dc;
	font-size:28px;
	text-align: center;
}

.cg_main img{
	display: block;
	width: 92px;
	margin:50px auto 65px;
}
.cg_btn{
	text-align: center;
	margin-left: -70px;
}
.cg_btn button{	
	width: 230px;
	height: 34px;
	line-height:34px ;
	background-color: #1ba2dc;
	margin-left: 70px;
	color: #fff;
}





/*-------------------------底部------------------------*/
.footer{
	width: 100%;
	height: 570px;
	background-color: #242424;
	overflow: hidden;
	
}

.footer_top{
	width: 990px;
	margin: 100px auto 0;
	height: 220px;
	border-bottom: 2px solid #333;
}
.footer_logo,.footer_ul,.footer_erwei{
	/*display: inline-block;*/
	float: left;
	height: 100%;
}

.footer_logo{
	width: 235px;
}
.footer_ul{
	width: 150px;
}
.footer_ul h4{
	color: #fafafa;
	font-size: 14px;
	height: 40px;
}
.footer_ul ul li{
	color: #81888e;
	font-size: 12px;
	height: 30px;
}
.footer_erwei{
	width: 150px;
	text-align: center;
	vertical-align: middle;
	color: #81888e;
}
.footer_erwei p{
	margin-top: 23px;
}
.footer_foo{
	width: 990px;
	margin: 20px auto;
	line-height: 20px;
	font-size: 12px;
	color: #81888e;	
}

.footer_foo p{
	margin-top: 10px;
}