body{
 	width: 100%;
 	font-size: 14px;
 	background-color:#ecf0f1 ;
 }
             /*----------------------------------导航条------------------------------*/

.nav{
	width: 100%;
	height: 70px;
	background-color: #1a1a1a;
}

.nav_main{
	width: 1200px;
	margin: auto;
}

.nm_logo{
	float: left;
	margin-top: 7px;
	
}

     
.nm_nav{
	float: left;
	margin-left: 10px;		
}
.nm_nav a li{

	margin-left: 40px;
	height: 100%;
	display: inline-block;
	line-height:70px ;	
}

.nm_nav  a{
    color: #999999;
}
.nm_nav a:hover{ color: #fafafa;}


.nm_login{
	float: right;
}

.nm_res{
	display: inline-block;
	width: 120px;
	height: 40px;
	text-align: center;
	margin-top: 15px;
	line-height: 40px;
	color: #fff;
	background-color: #1ab2dc;
	border-radius: 3px;
	
}
.nm_logi{
	display: inline-block;
	margin-right: 30px;
	color: #999999;
}

/*---already_login 页面上已登录状态----*/

.al_my{
	display: inline-block;
	width: 120px;
	height: 40px;
	text-align: center;
	margin-top: 15px;
	margin-right: 30px;
	line-height: 40px;
	color: #fff;
	background-color: #1ab2dc;
	border-radius: 3px;
}

.al_out{
	display: inline-block;
	margin-right: 35px;
	color: #999999;
}


 /*-----------------------大背景图--------------------------------*/
.big_pi{
	width: 100%;
	height: 600px;
	background: url(../img/yizhiyong/zhongtuda.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}

.big_main{
	margin: auto;
	margin-top: 222px;
	width: 450px;
	height: 184px;
	text-align: center;
}
.big_main h2{
	font-size: 50px;
	color: #fff;
}
.big_main p{
		font-size: 30px;
		color: #ccc;
}

.domch{
	display: inline-block;
	width: 312px;
	height: 56px;
	text-align: center;
	margin-top: 15px;
	line-height: 56px;
	color: #fff;
	font-size: 18px;
	background-color: #1ab2dc;
	border-radius: 3px;
}
/*----------------热门项目------------------------------*/

.i_show{
	padding-top: 70px;
	width: 100%;
}



.i_show_h3{	
	text-align: center;
	font-size: 30px;
	color: #10171e;
	position: relative;
	width: 150px;
	height: 31px;
	margin: auto;
	margin-bottom: 60px;
}
.i_show_h3::after{
	content: " ";
	display: block;
	width: 160px;	
	border: 1px solid  #e0e4e5;
	position: absolute;
	top: 21px;
	left: 140px;
}
.i_show_h3::before{
	content: " ";
	display: block;
	width: 160px;	
	border: 1px solid  #e0e4e5;
	position: absolute;
	top: 21px;
	left: -160px;
}
/*--------------第一个--------------*/
.im_hover{
	border: 1px solid   #1ba2dc ;
}
.im_nohover{
	border: 1px solid   #cccccc ;
}

.i_show_main:hover{border: 1px solid   #1ba2dc ;}

.i_show_main{
	width: 1200px;
	height: 381px;
	margin: auto;	
	background-color: #fff;
	font-size: 18px;
	color: #131313;
	border-radius: 3px;
	position:relative ;
}
.i_show_main_right img{vertical-align: -2px;margin-right: 5px;}
/*.i_show_main_left{
	display: inline-block;
}*/
.i_show_main_right{
	width: 700px;
	display: inline-block;
}
.im_ma{
	margin-left: 45px;
}
.im_h4{
	margin-top: 50px;
	font-size: 26px;
}
.im_h4 span{
	font-size: 20px;
	color: #8a8a8a;
}
.im_p1{
	margin-top: 35px;
}

.im_p2{
	margin-top: 69px;
	color: #b6b9bb;
}




.biaozhi{
	display: block;
	width: 716px;
	height: 60px;
	text-align: center;
	background-color: #eeeeee;	
	/*margin-top: 15px;*/
	line-height: 60px;
	color: #fefefe;
	font-size: 20px;	
	position: absolute;
	bottom: 0;
	right: 0;
}
.i_show_main:hover .biaozhi{
	background-color: #1ab2dc;	
}

.im_oneto{
	margin-top: 38px;
}

/*-----------------投资人----------------*/
.investors{
	margin-top: 105px;
	width: 100%;
	height: 840px;
	background: url(../img/index/touairen.jpg) no-repeat center center;
    background-size: contain 100%;
 }
.investors_main{
	width: 1200px;
	margin: 0 auto;
	padding-top: 70px;
	position: relative;
}
.i_inv_left,.i_inv_right{
	width: 50px;
	height: 50px;
	font-size: 50px;
	font-weight: 600;
	color: #808080;
	position: absolute;
	top:380px;
	 transform: scale(1,2);
    -ms-transform: scale(1,2);
    -webkit-transform: scale(1,2);
    -moz-transform: scale(1,2);
    -o-transform: scale(1,2);
}
.i_inv_left{
	left: 0;
}
.i_inv_right{
	right: 0;
}

/*---h3-----*/
.i_i_h3{	
	text-align: center;
	font-size: 30px;
	color: #FFFFFF;
	position: relative;
	width: 170px;
	height: 31px;
	margin: auto;
	margin-bottom: 60px;
}
.i_i_h3::after{
	content: " ";
	display: block;
	width: 160px;	
	border: 1px solid  #e0e4e5;
	position: absolute;
	top: 21px;
	left: 170px;
}
.i_i_h3::before{
	content: " ";
	display: block;
	width: 160px;	
	border: 1px solid  #e0e4e5;
	position: absolute;
	top: 21px;
	left: -170px;
}

/*----轮播图-----*/

/*.investors_show{
	width: 323px;
	height: 513px;
	padding: ();
	border: 1px solid #adafb1;
}*/
/*-----主要显示------*/
.investors_show{
	width: 273px;
	height: 443px;
	margin: auto;
	padding: 65px 25px 5px;
	border: 1px solid #adafb1;
	font-size: 13px;
	background-color: #ffffff;
	position: relative;
}
.investors_show::before{
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/index/starcard_left_active.png) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
}
.investors_show::after{
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/index/starcard_right_active.png) no-repeat;
	position: absolute;
	right: -2px;
	top: 0px;
}
.investors_show div{
	width: 120px;
	height: 120px;
	border:2px solid #20a4dd;
	border-radius: 50% 50%;
	overflow: hidden;
	margin: auto;
}
.investors_show div img{
	margin-left: -2px;
	margin-top: -1px;
}
.investors_show h4{
	font-size: 20px;
	font-weight: 400;
	margin-top: 45px;
	height: 30px;
}
.investors_show h5{
	font-size: 15px;
	font-weight: 400;
	color: #b8b8b8;
	height: 25px;
}
.investors_show p{
	line-height: 25px;
	margin-bottom: 40px;
	position: relative;
}
.investors_show p::after{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	top: 75px;
	left: 0;
}
.investors_show dl dd,dt{
	float: left;
	margin-top: 13px;
}
.investors_show dl dt{
	width: 85px;
	
}
.investors_show dl dd{
	width: 175px;
}
/*---通用----*/

.investors_hidd{
	
	width: 225px;
	height: 390px;
	
	margin: 20px auto 0;
	padding: 55px 25px 5px;
	border: 1px solid #adafb1;
	font-size: 11px;
	background-color: #ffffff;
	position: relative;
}
.investors_hidd::before{
	content: "";
	display: block;
	width: 33px;
	height: 32px;
	background: url(../img/index/starcard_left.png) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
}
.investors_hidd::after{
	content: "";
	display: block;
	width: 33px;
	height: 32px;
	background: url(../img/index/starcard_right.png) no-repeat;
	position: absolute;
	right: 0px;
	top: 0px;
}
.investors_hidd div{
	width: 110px;
	height: 110px;
	border:2px solid #20a4dd;
	border-radius: 50% 50%;
	overflow: hidden;
	margin: auto;
}
.investors_hidd div img{
	width: 110px;
	height: 110px;
	margin-left: -2px;
	margin-top: -1px;
}
.investors_hidd h4{
	font-size: 17px;
	font-weight: 400;
	margin-top: 40px;
	height: 27px;
}
.investors_hidd h5{
	font-size: 13px;
	font-weight: 400;
	color: #b8b8b8;
	height: 23px;
}
.investors_hidd p{
	line-height: 20px;
	margin-bottom: 40px;
	position: relative;
}
.investors_hidd p::after{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	top: 65px;
	left: 0;
}
.investors_hidd dl dd,dt{
	float: left;
	margin-top: 13px;
}
.investors_hidd dl dt{
	width: 75px;
	
}
.investors_hidd dl dd{
	width: 150px;
}
.slideshow ul{
	margin-left: 50px;
}
.slideshow ul li{
	width: 350px;
	height: 500px;
	padding: 0 0 0 0;
	display: inline-block;
	overflow: hidden;
}



/*现在开启你的创业项目*/
.i_now_star{
	width: 100%;
	height: 420px;
	background-color: #1ba2dc;
	text-align: center;
	overflow: hidden;
	color: #fff;
	margin-bottom: 75px;
}
.i_now_star h2{
	margin-top: 130px;
	font-size: 50px;
	font-weight: 500;	
}
.i_now_star p{
	font-size: 22px;
	width: 228px;
	height: 50px;
	margin:55px auto ;
	border: 2px solid #fff;
	border-radius: 2px;
	line-height: 50px;
}
.i_now_star p a{color: #fff;}


/*-----------------合作伙伴--------------------*/
.partner{
	width: 1200px;
	margin: 70px auto 80px;
}
.partner li{
	width: 285px;
	height: 100px;
	display: inline-block;
	line-height: 100px;
	text-align: center;
	position: relative;
	
}
.partner li a img{vertical-align: middle;transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;}
.partner li:hover:before{
	content: "";
	width: 100%;
	height:  100%;
	border: 1px solid #1ba2dc;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
}
.partner li:hover img{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}
/*过渡页面*/

/*如何发起梦想*/
.dream{
	width: 1200px;
	margin: auto;
	padding: 85px 0 65px 0;
	color: #1ba2dc;
}
.dream_title,.question_title{
	text-align: center;
	font-size: 32px;
	font-family: simhei;
}
.circle_box{
	height: 200px;
	width: 1200px;
	margin-top: 105px;
}
.dream_circle{
	height: 196px;
	width: 196px;
	border-radius: 50%;
	border: 2px solid #1ba2dc;
	text-align: center;
	float: left;
}
.dream_icon{
	margin: 50px 0 10px 0 ;
}
.icon_text{
	font-size: 18px;
}
.arrow{
	float: left;
	margin: 85px 40px 0;
}
.dream_btn{
	display: block;
	width: 311px;
    height: 51px;
    background-color: #FFFFFF;
    border: 2px solid #1ba2dc;
    border-radius: 4px;
    text-align: center;
    line-height: 51px;
    cursor: pointer;
    margin: 100px auto 0;
	color: #1ba2dc;
}
/*常见问题*/
.question{
	padding:75px 0 125px;
	width: 100%;
	min-width: 1200px;
	background-color:#1ba2dc ;
	color: #FFFFFF;
}
.question_box{
	width: 1200px;
	margin: auto;
}
.question_title{
	margin-bottom: 15px;
}
.question_text1,.question_text2{
	width: 435px;
	height: 115px;
	margin-top: 60px;
	float: left;
}
.question_text1{
	width: 500px;
	margin-right: 175px;
}
.text1{
	font-size: 20px;
	margin-bottom: 25px;
}
.text2{
	font-size: 16px;
}



/*过渡2*/

.main{
	width: 1198px;
	background-color: #ffffff;
	border: 1px solid #cbcfd0;
	margin:0 auto 70px;
}
/*左侧显示部分*/
/*.main_left{
	width:912px;
	float: left;
	border-right: 2px solid #cdd0d1;
	
}*/
.left_title{
	font-size: 22px;
	font-family: simhei;
	text-align: center;
	margin: 40px 0 30px 0;
}
.title_line{
	width: 100%;
	margin-bottom: 40px;
}
.left_list{
	position: relative;
	margin-bottom: 15px;
}
.list_title{
	width: 125px;
	float: left;
	font-size: 18px;
	color: #999999;
	margin-right: 20px;
	text-align: right;
	line-height: 30px;
}
.list_add{
	float: left;
	width: 98px;
	height: 98px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	text-align: center;
	line-height: 98px;
	cursor: pointer;
}
.flower{
	float: left;
	vertical-align: middle;
	margin:45px 70px 0 10px;
}
.add_title{
	line-height: 98px;
}
.add_img{
	vertical-align: middle;
}
.list_text{
	float: left;
	margin-top: 25px;
	color: #ababab;
	font-size: 14px;
}
.name,.city{
	position: relative;
	float: left;
	padding: 0 10px 0;
	height: 30px;
	width: 70%;
	border: 1px solid #cccccc;
	border-radius:4px;
	margin-right: 10px;
	font-size: 14px;
	cursor: pointer;
}
.city{
	width: auto;
	height: 30px;
	line-height: 30px;
	color: #a1a1a1;
	cursor: pointer;
}
.down{
	float: right;
	margin-top: 13px;
}
.input_name{
	float: left;
	height: 30px;
	width: 91%;
	border:none;
	font-size: 14px;
	outline: none;
}
.num{
	float: right;
	line-height: 30px;
	color: #a1a1a1;
}
.flower1{
	margin-top:10px;
}
.list_nav{
	width: 670px;
	float: left;
}
.list_nav li{
	float: left;
	font-size: 14px;
	border: 1px solid #cccccc;
	margin: 0 10px 5px 0;
	padding:10px;
	border-radius:4px ;
	color: #a1a1a1;
	cursor: pointer;
}
/*.list_nav li:hover{
	background-color:#1ba2dc;
	border-color:#1ba2dc;
	color: #ffffff;
}*/
.list_nav .list_active1{
	background-color:#1ba2dc;
	border-color:#1ba2dc;
	color: #ffffff;
}
.save_btn{
	width:230px;
	height: 35px;
	background-color:#1ba2dc;
	text-align: center;
	color: #ffffff;
	line-height: 35px;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	margin: 60px auto 85px auto;
}
.save_btn:hover,.next:hover{
	background-color:#5BC2E8;
}
.textarea{
	width: 100%;
	resize: none;
	border: none;
	font-size: 14px;
	outline: none;
}
.textarea::-webkit-input-placeholder,input::-webkit-input-placeholder {  /*WebKit browsers*/  
	color: #a1a1a1; 
	font-family: "Microsoft YaHei";
} 
.textarea::-moz-placeholder,input:: -moz-placeholder{ /* Mozilla Firefox 4 to 18 */ 
	color: #a1a1a1; 
	font-family: "Microsoft YaHei";
} 
.textarea::-ms-input-placeholder,input::-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #a1a1a1;
	font-family: "Microsoft YaHei"; 
} 
.textarea_box{
	padding-top: 10px;
	height: auto;
}

/*右侧显示部分*/
.main_right{
	width: 284px;
	float:right;
	position: relative;
}
.preview,.save{
	margin-top: 15px;
	line-height: 35px;
	float: right;
	font-family: simhei;
	font-size: 14px;
	cursor: pointer;
}
.preview{
	margin-right: 25px;
}
.save{
	width: 80px;
	border-radius: 5px;
	background-color:#1ba2dc ;
	color: #ffffff;
	text-align: center;
	margin-right:15px;
}
.right_list{
	line-height: 32px;
	width: 100%;
	margin-left: -2px;
	font-size: 20px;
	font-family: simhei;
	color:#999999 ;
	padding-top: 50px;
	cursor: pointer;
	border-left: 2px solid transparent;
}
.right_list1{
	padding-top: 130px;
}
.cicle_img{
	margin-left: -17px;
}
.list_icon{
	vertical-align: middle;
	margin: 0 10px 0 20px;
}
.list_active{
	color:#1ba2dc ;
	border-color:#1ba2dc;
}
/*点击触发效果*/
.city_choose{
	width: 668px;
	position: absolute;
	top: 32px;
	left: 145px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	z-index: 10;
	font-size: 14px;
	display:none;
}
.city_nav li{
	width: 333px;
	line-height: 30px;
	text-align: center;
	float: left;
	cursor: pointer;
	background-color: #f6f6f6;
	border-bottom: 1px solid #cccccc;
}
.li_border{
	border-right: 1px solid #cccccc;
}
.city_nav .city_active{
	background-color: #ffffff;
	border-bottom-color: #ffffff;
}
.city_detail{
	width: 620px;
	margin:30px 30px 25px 30px;
}
.city_detail li{
	float: left;
	padding:0 10px;
	line-height: 25px;
	margin:15px 20px 0 0;
	display: block;
	font-size: 12px;
	cursor: pointer;
}
.city_detail li:hover{
	background-color: #1ba2dc;
	color: #ffffff;
	border-radius:4px ;
}
.city_detail_active{
	background-color: #1ba2dc;
	color: #ffffff;
	border-radius:4px ;
}
.nav_active{
	display: none;
}
.stage{
	line-height: 30px;
	float: left;
	width: 97%;
}
.stage_choose{
	display: none;
	position: absolute;
	clear: both;
	background-color: #ffffff;
	z-index: 10;
	border: 1px solid #cccccc;
	top: 30px;
	left: -1px;
	width: 658px;
}
.stage_choose li{
	padding-left: 10px;
	line-height: 25px;
}
.stage_choose li:hover{
	background-color: #1ba2dc;
	color: #ffffff;
}
/*---------------项目内容--------------*/
.upload_btn{
	background-color: #e7e7e7;
	width: 150px;
	height:30px;
	border:1px solid #cccccc;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
	margin: auto;
	cursor: pointer;
}
.upload_box{
	float: left;
	width: 650px;
	height: 60px;
	padding:10px 0 15px 0; 
	border: 1px dashed #cccccc;
}
.upload_text{
	font-size: 14px;
	text-align: center;
	color: #cccccc;
	margin-top: 10px;
}
.prev,.next{
	float:right;
	width: 230px;
	line-height: 35px;
	text-align: center;
	margin: 35px 0 85px 0;
	font-size: 14px;
	font-family: simheim;
	border-radius: 3px;
	cursor: pointer;
}
.prev{
	background-color: #e7e7e7;
	margin-right: 40px;
}
.prev:hover{
	background-color: #ECECEC;
}
.next{
	background-color: #1ba2dc;
	color: #ffffff;
}
/*----------------------团队-----------------------*/
.textarea1{
	height: 54px;
}
.person{
	width: 720px;
	margin-left: 145px;
}
.person_box{
	float: left;
	width: 180px;
	height: 180px;
	padding: 10px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	text-align: center;
	margin:0 30px 15px 0;
	cursor: pointer;
}
.person_head{
	width: 90px;
	height: 90px;
	margin: 10px 0 15px 0;
}
.person_job{
	font-size: 14px;
	color: #8a8a8a;
	margin-bottom: 5px;
}
.person_label{
	float:left;
	width: 60px;
	height: 20px;
	font-size: 12px;
	color: #ffffff;
	background-color:#1ba2dc;
	line-height: 20px;
	border-radius: 3px;
}
.btn_editor,.btn_delete{
	font-size: 12px;
	float: right;
	color:#8a8a8a;
	margin-left:5px ;
	cursor: pointer;
}
.person_add{
	margin:60px 0 15px 0;
}
.list_btn{
	width: 505px;
	margin: auto;
}

/*弹框*/
.popup_box{
	position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 1200px;
    background-color: rgba(0,0,0,.3);
    z-index: 100;
    display: none;
}
.popup{
	width: 650px;
    position: absolute;
    top: 5%;
    background-color: #fff;
    left: 50%;
    margin-left: -325px;
    box-shadow: 0px 5px 40px #1A1A1A;
    padding-bottom: 30px;
    z-index: 102;
    display: none;
}
.popup_title{
	font-family: simhei;
	font-size: 18px;
	text-align: center;
	margin:20px 0 15px 0;
}
.popup_line {
    width: 100%;
}
.list_add2{
	margin-right:75px ;
}
.name2{
	width: 138px;
	float:left;
}
.input_name2{
	width: 75%;
}
.form_member,.form_recruiting{
	line-height: 30px;
	color:#999999 ;
}
.btn_group{
	width: 405px;
	margin: auto;
}
.cancel_btn2,.save_btn2{
	margin-top: 25px;
	width: 180px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}
.cancel_btn2{
	float: left;
	background-color: #e7e7e7;
}
.save_btn2{
	float: right;
	background-color: #1ba2dc;
	color: #ffffff;
}
.member_list{
	display: block;
}
/*-----------------融资计划--------------*/
.form_recruiting{
	float:left;
	width: 242px;
}

/*.uedit{
	position: relative;
	float: left;
	padding: 0 10px 0;
	height:340px;
	width: 650px;
	border-radius:4px;
	margin-right: 10px;
	font-size: 14px;
	cursor: pointer;
}*/


/*单选框*/
/*.main_left_plan{
	border-right: 2px solid #1ba2dc;
}*/
.list2{
	float: left;
	width: 210px;
	padding: 0 10px 0;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.num2{
	float: left;
	line-height: 30px;
	margin-right: 5px;
	color: #999999;
}
.label_img{
	display: inline-block;
	width: 14px;
	height: 14px;
	position: relative;
	top: 2px;
	margin-right: 5px;
	background: url(../img/image/radio.png) no-repeat;
}
.radio1{
	margin-left: -15px;
	background-color: #ffffff;
	cursor: pointer;
	margin: 0 60px 0 -15px;
}
.radio_active{
	background-position-y: -16px;
}
.guo_kuilei{position: relative;height: 824px;width:912px;
	float: left;
	border-right: 2px solid #cdd0d1;}
.guo_woshi_er,.guo_woshi_san,.guo_woshi_si{
	position: absolute;
	z-index: -3;background-color: #fff;
	display: none;
	
}
.guo_woshi_yi{
	position: absolute;
	z-index: 0;background-color: #fff;}


.mei_2_le,.mei_3_le,.mei_4_le{display: none;}
.dao_2_le,.dao_3_le,.dao_4_le{display:block}

/*-------------------------底部------------------------*/
.footer{
	width: 100%;
	height: 570px;
	background-color: #242424;
	overflow: hidden;
	
}

.footer_top{
	width: 1200px;
	margin: 100px auto 0;
	height: 220px;
	border-bottom: 2px solid #333;
}
.footer_logo,.footer_ul,.footer_erwei{
	/*display: inline-block;*/
	float: left;
	height: 100%;
}

.footer_logo{
	width: 300px;
	margin-left: 10px;
}
.footer_ul{
	width: 160px;
}
.footer_ul h4{
	color: #fafafa;
	font-size: 14px;
	height: 40px;
}
.footer_ul ul li{
	color: #81888e;
	font-size: 12px;
	height: 30px;
	cursor: pointer;
}
.footer_erwei{
	width: 160px;
	text-align: center;
	vertical-align: middle;
	color: #81888e;
}
.footer_erwei p{
	margin-top: 23px;
}
.footer_foo{
	width: 1200px;
	margin: 20px auto;
	line-height: 20px;
	font-size: 12px;
	color: #81888e;	
}

.footer_foo p{
	margin-top: 10px;
}



#huiding{width: 20px;height: 20px;line-height: 20px;
text-align: center;position: fixed;top: 50%;right: 0;
display: none;background-color: #0066CC;opacity: .3;border: 3px;font-size: 12px;color: greenyellow;}

#huiding:hover{opacity:1;width: 30px;height: 30px;line-height: 30px}










































