body{
 	width: 100%;
 	font-size: 14px;
 	background-color:#ecf0f1 ;
 }
 
 #huiding{width: 20px;height: 20px;line-height: 20px;
text-align: center;position: fixed;top: 50%;right: 0;
display: none;background-color: #0066CC;opacity: .3;border: 3px;font-size: 12px;color: greenyellow;}

#huiding:hover{opacity:1;width: 30px;height: 30px;line-height: 30px}



             /*----------------------------------导航条------------------------------*/

.nav{
	width: 100%;
	min-width: 1200px;
	height: 70px;
	background-color: #1a1a1a;
}

.nav_main{
	width: 1200px;
	margin: auto;
}

.nm_logo{
	float: left;
	margin-top: 7px;
	
}

     
.nm_nav{
	float: left;
	margin-left: 10px;
	
	
}
.nm_nav a li{

	margin-left: 40px;
	height: 100%;
	display: inline-block;
	line-height:70px ;	
}

.nm_nav  a{
    color: #999999;
}
.nm_nav a:hover{ color: #fafafa;}

.nm_login{
	float: right;
}

.nm_res{
	display: inline-block;
	width: 120px;
	height: 40px;
	text-align: center;
	margin-top: 15px;
	line-height: 40px;
	color: #fff;
	background-color: #1ab2dc;
	border-radius: 3px;
	
}
.nm_logi{
	display: inline-block;
	margin-right: 30px;
	color: #999999;
}

/*---already_login 页面上已登录状态----*/

.al_my{
	display: inline-block;
	width: 120px;
	height: 40px;
	text-align: center;
	margin-top: 15px;
	margin-right: 30px;
	line-height: 40px;
	color: #fff;
	background-color: #1ab2dc;
	border-radius: 3px;
}

.al_out{
	display: inline-block;
	margin-right: 35px;
	color: #999999;
}


.share_rec_left{
	margin-top: 15px;
	height: 40px;
	width: 100%;
	color: #FFF;
	line-height: 40px;
	overflow: hidden;
	text-align: center;
}
.share_rec_left span{
    display: inline-block;   
    margin-left: .5em;
    margin-top: -.5em;
    position: relative;
    border-color:  #1a1a1a #1a1a1a #fff #1a1a1a;
    border-style: solid;
    border-width: 0 7px 5px 7px;
    height: 0;
    width: 0;
    vertical-align: middle;
}
.share_rec_left ul{
	margin-top: 15px;
}
.share_rec_left ul li{
	padding: 1px;
	height: 40px;
	width: 120px;
	background-color:#1a1a1a ;
}
.share_rec_left:hover{
	height: 180px;
} 
.share_rec_left:hover a{
	color: #fff;
} 
.share_rec_left:hover span{
	border-color: #fff  #1a1a1a #1a1a1a #1a1a1a;
    border-style: solid;
    border-width: 5px 7px 0 7px;
}





/*------中-------*/

.my_box{
	width: 100%;
     background-color: #f2f4f7;
     padding: 23px 0 63px;
}
.my_box_main{
	width: 1200px;
	margin:0 auto;
}

.my_box_main_top{
	padding: 15px 33px;
	background-color: #ffffff;
	border: 1px solid #cdd0d1 ;
	border-radius: 5px;
}
.mbmtop_left{
	float: left;
	width: 163px;
	text-align: center;
}
.mbmtop_left_img{
	margin: 0 auto;
	width: 100px;
	height: 100px;
	padding: 4px;
	border-radius: 50%;
	border: 1px solid #d4d4d4;
}
.mbmtop_left_img img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.mbmtop_left h5{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 16px;
	color: #262626;
	
	position: relative;
}
.mbmtop_left h5::before{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #f9f9f9;
	position: absolute;
	top:25px ;
	left: 0;
}
.mbmtop_left p{
	margin-top: 10px;
	padding-left: 5px;
}
.mbmtop_left  .mbmtop_left_p1{margin-top: 5px;}
.mbmtop_left p span{
	display: inline-block;
	width: 57px;
	height: 15px;
	background-color: #a7a7a7;
	color: #fff;
	font-size: 11px;
	border-radius: 5px;
	margin-left: 5px;
	text-align: center;
	line-height:15px ;
}
.mbmtop_right{
	float: left;
	margin-left: 60px;
}
.mbmtop_right h2{
	font-size: 28px;
	color: #262626;
	font-weight: 400;
	margin-top: 35px;
}
.mbmtop_right h2 man{
	display: inline-block;	
	font-size: 24px;
	color: #999999;
	margin-left: 1em;
	vertical-align: middle;
}
.mbmtop_right h2 span{
	display: inline-block;
	width: 85px;
	height: 26px;	
	font-size: 14px;
	color: #fefefe;
	background-color: #1ba2dc;
	border-radius: 2px;
	margin-left: 1em;
	text-align: center;
	line-height: 26px;
	vertical-align: middle;
}
.mbmtop_right ul{margin-top: 30px;}
.mbmtop_right ul li{float: left;width: 230px;}
.mbmtop_right ul li img{display: block;float: left;}
.mbmtop_right ul li .mbmtop_right_ri{
	float: left;	/*margin: 10px 0 0 10px;*/
	padding: 8px 0 0 10px;
}
.mbmtop_right_ri h5{
	font-size:16px;
	color: #000;
	margin-bottom: 2px;
}
.mbmtop_right_ri h5 span{
	font-size:  20px;
	color: #1ba2dc;
	margin-right: 3px;
}
.mbmtop_right_ri p{
	font-size: 15px;
	color: #000;
}

/*-----container-----*/

.my_nav_left{
	margin-top: 35px;
	float: left;
	width: 240px;
	border: 1px solid #cdd0d1;
	border-radius: 4px;
}

.my_nav_left li{	
	padding: 30px 25px 30px 40px;
	border-bottom: 1px solid #e6e6e6;
	line-height: 15px;
	vertical-align: middle;
}
.my_nav_left li  img{
	margin-right: 10px;
	vertical-align: middle;
}
.na_mt3{margin-top: 3px;}
.my_nav_left li span{
	float: right;
}
.my_nav_left  a li{color: #262626;}
.my_nav_left  a .nav_li_act{color: #1ba2dc;}
.nav_li_act{background-color: #fff; position: relative;}
.nav_li_act::before{content: "";display: block;width: 4px;height:100% ;background-color:#1ba2dc ;position:absolute ;top: 0;left:0 ;}
.nav_li_act a{color: #199ad1;}
/*---右----*/
.my_container_right{
	margin-top: 35px;
	float: left;
	margin-left: 15px;
	width: 940px;
	border-radius: 5px;
	border: 1px solid #cdd0d1;
	overflow: hidden;
}
.mycori_top{border-bottom: 1px solid #cdd0d1;}
.mycori_top li span{
	display: inline-block;
	width: 50px;
	height: 21px;
	color: #fff;
	font-size: 13px;
	line-height: 21px;
	border-radius: 3px;
	margin-right: 5px;
}
.no_over_bg{background-color: #1ba2dc;}
.yes_over_bg{background-color: #b3b3b3;}
.mycori_top li{
	float: left;
	width: 235px;
	height: 60px;
	text-align: center;
	line-height: 60px;	
	position: relative;
}

.mycori_top li::before{
	content: "";
	width: 235px;
	height: 60px;		
	position: absolute;
	top: 0;
	left: 0;
	border-right: 1px solid #cdd0d1;
}


.mycori_main_box{
	padding: 65px 20px 120px 20px;
	background-color: #fff;
	
}
.mycori_main_box h6{
	color: #199ad1;
	font-size: 18px;
	padding-left: 10px;
	position: relative;
	
}
.mycori_main_box h6::before{
	content: "";
	display: block;
	width: 3px;
	height: 17px;
	background-color:#199ad1 ;
	position: absolute;
	top: 5px;
	left: 0;
}
/*基本信息*/
.mycori_basic{
	padding: 10px 45px 20px 10px;
	margin: 35px 0 10px 0;
	background-color: #f6f8fc;		
}
.mycori_basic_img{
	float: left;
}
.mycori_basic_img img{
	width: 350px;
	height: 230px;
}
.mycori_basic_right{
	float: right;
	color: #131313;
	font-size: 18px;
	width: 460px;
}
.mycori_basic_right h5{
	margin-top: 10px;
}

.mycori_basic_right h3{
	float: left;
	margin: 40px 0 34px;
}
.mycori_basic_right p{
	width:370px ;
	margin: 40px 0 20px;
	 word-wrap:break-word; 
	 word-break:normal;
	float: right;
	color:#808080;
	font-size: 14px;
}
.mycori_basic_right h4{
	float: left;margin-top: 40px;
}
.mycori_basic_right h2{
	float: right;margin-top: 40px;
}

/*融资计划*/
.mycori_financing{
	padding: 20px 100px 40px 25px;
	background-color: #f6f8fc;
	margin: 40px 0 ;
	border-right: 3px;
	overflow: hidden;
}
.mycori_financing h5{
	font-size: 16px;
	color: #262626;
}
.mycori_financing p{
	float: right;
}
.mycorif_jin{
	margin: 20px 0 30px;
}
.mycorifi_schedule_box{
	width: 640px;
	height: 20px;
	position: relative;
	margin-left: 5px;
}
.mycorifi_schedule_box{
	width: 640px;
	height: 20px;
	position: relative;
	float: left;
}
.mycorifi_schedule_box_zong{
	width: 640px;
	height: 20px;
	position: absolute;
	top: 0;left: 0;
	background-color: #e7e9ea;
	border-radius: 3px;
}
.mycorifi_schedule{
	width: 40px;
	height: 20px;
	position: absolute;
	top: 0;left: 0;
	background-color: #1ba2dc;
	border-radius: 3px;
}
.mycorif_per_one ,.mycorif_per_two{
	width: 310px;
	float: left;
	font-size: 14px;
	color: #262626;
	margin-top: 25px;
}

.mycorif_per_one_img{
	width: 80px;height: 80px;float: left;
}
.mycorif_per_one_img img{
	width: 100%;height: 100%;border-radius:3px;
}
.mycorif_per_one_juti{
	float: left;
	padding: 15px 0 0 20px;
	width: 180px;
}
.mycori_financing_touzi ul li img{
	margin-right: 10px;
}
.mycori_financing_touzi ul li span{
	margin-right: 10px;
}
.mycori_financing_touzi ul li{
	float: left;
	margin-bottom: 15px;
}

/*项目动态*/
.mycori_now{
	background-color: #f6f8fc ;
	padding: 60px 50px  60px 0;
	vertical-align: middle;
	text-align: center;
	position: relative;
	margin-top: 30px;
}
.mycori_now p{
	width:210px ;
	height: 60px;
	color: #7f7f7f;
	font-size: 16px;
	position:absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top:-3px ;
}



/*-------------------------底部------------------------*/
.footer{
	width: 100%;
	min-width: 1200px;
	height: 570px;
	background-color: #242424;
	overflow: hidden;	
}
.footer_top{
	width: 1200px;
	margin: 100px auto 0;
	height: 220px;
	border-bottom: 2px solid #333;
}
.footer_logo,.footer_ul,.footer_erwei{
	/*display: inline-block;*/
	float: left;
	height: 100%;
}
.footer_logo{
	width: 300px;
	margin-left: 10px;
}
.footer_ul{
	width: 160px;
}
.footer_ul h4{
	color: #fafafa;
	font-size: 14px;
	height: 40px;
}
.footer_ul ul li{
	color: #81888e;
	font-size: 12px;
	height: 30px;
}
.footer_erwei{
	width: 160px;
	text-align: center;
	vertical-align: middle;
	color: #81888e;
}
.footer_erwei p{
	margin-top: 23px;
}
.footer_foo{
	width: 1200px;
	margin: 20px auto;
	line-height: 20px;
	font-size: 12px;
	color: #81888e;	
}

.footer_foo p{
	margin-top: 10px;
}
